/* Fonts for Hangman */

/* Fonts taken from https://fonts.google.com/ */

/* Font for headings */
@font-face {
  font-family: 'Permanent Marker', cursive;
  src: url('../fonts/Permanent_Marker/PermanentMarker-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* Font for body text */
@font-face {
  font-family: 'Indie Flower', cursive;
  src: url('../fonts/Indie_Flower/IndieFlower-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
