@import "fonts.css";
@import "reset.css";
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0px;
  background-color: #B4C5E4;
  color: #2B2B54;
  font-family: "Indie Flower", cursive;
  min-height: 100vh;
}

header {
  padding: 10px;
  background-color: #2B2B54;
  color: #FBFFF1;
  font-family: "Permanent Marker", cursive;
  width: 100%;
  height: auto;
  max-width: 100vw;
  font-size: 50rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: white;
  color: black;
  font-family: "Indie Flower", cursive;
  width: 100%;
  height: auto;
  max-width: 500px;
  border-radius: 10px;
  border: none;
}

footer {
  padding: 10px;
  background-color: #2B2B54;
  color: #FBFFF1;
  font-family: "Indie Flower", cursive;
  width: 100%;
  height: auto;
  max-width: 100vw;
  text-align: center;
}
footer img {
  width: 100%;
  height: auto;
  max-width: 15px;
}
footer img:hover {
  transform: rotate(360deg);
  transition: 1s;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

button {
  padding: 5px 10px;
  background-color: #B4C5E4;
  color: #2B2B54;
  font-family: "Indie Flower", cursive;
  border-radius: 10px;
  border: 1px solid #B4C5E4;
  font-weight: bold;
  font-size: 20rem;
}

button:hover {
  padding: 5px 10px;
  background-color: #2B2B54;
  color: #FBFFF1;
  font-family: "Indie Flower", cursive;
  border-radius: 10px;
  border: 1px solid #FBFFF1;
}

.disabled, .disabled:hover {
  background-color: gray;
  color: #FBFFF1;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.popupDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  gap: 10px;
  padding: 20px;
  background-color: #2B2B54;
  color: #FBFFF1;
  font-family: "Indie Flower", cursive;
  border-radius: 10px;
  border: 5px solid #B4C5E4;
  width: 100%;
  height: auto;
  max-width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  box-shadow: 10px 5px 5px gray;
}

#score {
  font-size: 30rem;
}

#hangmanImg {
  width: 100%;
  height: auto;
  max-width: 330px;
}

#word {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-flow: wrap;
}
#word div {
  border-bottom: 3px solid black;
  width: 30px;
  height: 30px;
  font-family: "Permanent Marker", cursive;
  font-size: 25rem;
}

#hint {
  text-align: center;
}

#letterKeys {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-flow: wrap;
}

#instructions {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(43, 43, 84, 0.8);
  display: none;
}
#instructions li {
  margin-left: 40px;
  margin-bottom: 10px;
}

#closeInstructions {
  align-self: center;
  padding: 5px;
}

#gameOverPopup {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(43, 43, 84, 0.8);
  display: none;
}
#gameOverPopup div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 500px) {
  .popupDiv {
    position: static;
    transform: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }
  #gameOverPopup div {
    margin-top: 50%;
    height: auto;
  }
}