// CSS for Hangman

// Fonts used and reset CSS to normalize across browsers
@import "fonts.css", "reset.css";

// Variables for styles
$heading-font: 'Permanent Marker', cursive;
$body-font: 'Indie Flower', cursive;
$dark-blue: #2B2B54;
$light-blue: #B4C5E4;
$ivory: #FBFFF1;

// Mixins
@mixin flex-layout($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: 10px;
}

@mixin layout-style($pad, $bkcolor, $color, $font) {
  padding: $pad;
  background-color: $bkcolor;
  color: $color;
  font-family: $font;
}

@mixin border-style($radius, $border) {
  border-radius: $radius;
  border: $border;
}

@mixin sizing($width) {
  width: 100%;
  height: auto;
  max-width: $width;
}

@mixin popup-style {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(43, 43, 84, 0.8);
}

body {
  @include flex-layout(column, space-between, center);
  @include layout-style(0px, $light-blue, $dark-blue, $body-font);
  min-height: 100vh;
}

header {
  @include layout-style(10px, $dark-blue, $ivory, $heading-font);
  @include sizing(100vw);
  font-size: 50rem;
  text-align: center;
}

main {
  @include flex-layout(column, left, center);
  @include layout-style(20px, white, black, $body-font);
  @include sizing(500px);
  @include border-style(10px, none);
}

footer{
  @include layout-style(10px, $dark-blue, $ivory, $body-font);
  @include sizing(100vw);
  text-align: center;

  img {
    @include sizing(15px);
  }

  img:hover {
    transform: rotate(360deg);
    transition: 1s;
  }
}

h1 {
  font-family: $heading-font;
}

button {
  @include layout-style(5px 10px, $light-blue, $dark-blue, $body-font);
  @include border-style(10px, 1px solid $light-blue);
  font-weight: bold;
  font-size: 20rem;
}

button:hover {
  @include layout-style(5px 10px, $dark-blue, $ivory, $body-font);
  @include border-style(10px, 1px solid $ivory);
}

.disabled, .disabled:hover {
  background-color: gray;
  color: $ivory;
}

.buttons {
  @include flex-layout(row, space-around, center);
  width: 100%;
}

.popupDiv {
  @include flex-layout(column, space-around, left);
  @include layout-style(20px, $dark-blue, $ivory, $body-font);
  @include border-style(10px, 5px solid $light-blue);
  @include sizing(450px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  box-shadow: 10px 5px 5px gray;
}

#score {
  font-size: 30rem;
}

#hangmanImg {
  @include sizing(330px);
}

#word {
  @include flex-layout(row, space-between, center);

  div {
    border-bottom: 3px solid black;
    width: 30px;
    height: 30px;
    font-family: $heading-font;
    font-size: 25rem;
  }
}

#hint {
  text-align: center;
}

#letterKeys {
  @include flex-layout(row, center, center);
  flex-flow: wrap;
}

#instructions {
  @include popup-style;
  display: none;

  li {
    margin-left: 40px;
    margin-bottom: 10px;
  }
}

#closeInstructions {
  align-self: center;
  padding: 5px;
}

#gameOverPopup {
  @include popup-style;
  display: none;

  div {
    @include flex-layout(column, space-around, center);
  }
}

@media screen and (max-width:500px) {
  .popupDiv {
    position: static;
    transform: none;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  #gameOverPopup {
    div {
      margin-top: 50%;
      height: auto;
    }
  }
}
