@import "fonts.css";
@import "reset.css";
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Indie Flower", cursive;
  background-color: #B4C5E4;
  min-height: 100vh;
}

header {
  padding: 10px;
  background-color: #2C2C54;
  color: #FBFFF1;
  width: 100%;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
}

main {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

footer {
  padding: 10px;
  background-color: #2C2C54;
  color: #FBFFF1;
  width: 100%;
  text-align: center;
}
footer img {
  width: 15px;
  height: auto;
}
footer img:hover {
  transform: rotate(360deg);
  transition: 1s;
}

#instructions {
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  background-color: #2C2C54;
  color: #FBFFF1;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid #B4C5E4;
  box-shadow: 10px 5px 5px gray;
  display: none;
}
#instructions li {
  margin-left: 40px;
  margin-bottom: 10px;
}
#instructions h1 {
  font-family: "Permanent Marker", cursive;
}

#closeInstructions {
  position: absolute;
  top: -10px;
  right: -5px;
  border-radius: 50%;
  padding: 5px;
}

button {
  background-color: #B4C5E4;
  color: #2C2C54;
  border: #2C2C54;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: #2C2C54;
  color: #FBFFF1;
}

.buttons {
  display: flex;
  justify-content: space-around;
}